*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Dancing Script', cursive;
}

body{
    background-color:black;
    background-image: url("img/pexels-francis-seura-735151.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
h1{
    color:white;
    font-size: 12rem;
    text-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
}

span{
    font-size: 15rem;
    text-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
}

.counter{
    color: white;
    font-size: 9rem;
    width: 70%;
    margin:0 auto;
    display: flex;
    justify-content: space-around; 
    margin-top: 100px;
}
.counter .time-container {
    display: inline;
    padding: 0 20px;
}

.time-container{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.time-container span{
    display: block;
    text-align: center;
}

.unit{
    font-size: 8rem;
}

@media (max-width:1024px){
    h1,
    span,
    .unit{
        font-size: 8rem;
    }

    .counter .time-container{
        margin: 0;
        padding: 0;
    }
    
    .unit{
        margin-top:10px;
        font-size: 5rem;
    }
}

@media (max-width:600px){
    h1,
    span,
    .unit{
        font-size: 4rem;
    }

    .counter .time-container{
        margin: 0;
        padding: 0;
    }
    
    .unit{
        margin-top:5px;
        font-size: 2.2rem;
    }
}